// Place all the styles related to the Auditions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.header {
    margin-top: 10px;
    text-align: center;
    color: blue;
    background-color: lightgray;
    font-size: 15px;
}

body {
    margin-left: 20px;
}